.jumbotron {
	color: navy;
	text-align: center;
	font-weight: bold;
	font-family: "Times New Roman";
	margin-bottom: -60px;

	

}
.test{
	margin: 0 20px;
	width: 100%;
	/*border: 2px solid black;*/
}
#main-p{
	font-size: 20px;


}
main{
	margin-top: 20px;
	display: inline-block;
	text-align: center;
}

h3	{
	color: black;
	font-weight: bold;
	font-size: 50px;
	background-color: pink;
	text-align: center;


}

#picture3 {
	display: inline-block;
	width: 33%;
}


.container {
	display: inline-block;

}

.navbar  {
	background-color: mandarin;
}

#backroundpic{
	text-align: center;
	height: 30px:;
}

.container-video {
	text-align: center;
	
	border: 2px solid black;

}